<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'table.css' %}">
</head>
<body>
<div class="table1">
<h1>Cultural Celebration Entries:</h1>
<table class="table table-dark table-hover">
    <thead class="thread-dark">
    <tr>
    <th>Event name</th>
    <th>Contact</th>
    <th>mail ID</th>
    <th>Date</th>
    <th>Duration</th>
    <th>Total Members</th>
    <th>Register</th>
    </tr>
    </thead>
    <tbody>
    {% for window in home %}
    <tr>
        <td>{{ window.ename }}</td>
        <td>{{ window.contact }}</td>
        <td>{{ window.email }}</td>
        <td>{{ window.date }}</td>
        <td>{{ window.duration }}</td>
        <td>{{ window.total }}</td>
        <td><a href="/eventregister">REGISTER</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table><br>
<a href="/Hmpage">Go To Homepage.</a>
</div>
</body>
</html>